.faculty-yellow {
    background-color: #fdbd10 !important;
}
.faculty-orange {
    background-color: #ed7902 !important;
}
.faculty-red {
    background-color: #ec371c !important;
}

.faculty-text-yellow {
    color: #fdbd10 !important;
}
.faculty-text-orange {
    color: #ed7902 !important;
}
.faculty-text-red {
    color: #ec371c !important;
}