.test_block {
    margin-top: 30px;
    padding: 20px;
    background: #fbfbfb;
    cursor: pointer;
}
.test_block.active {
    background: #fff;
}
.test_block .test_status {
    float: left;
    font-size: 32px;
    padding: 5px 0 0 10px;
}
.test_block .test_meta {
    padding-top: 10px;
}
.test_content {
    margin-left: 70px;
}

#protected_block input:checked + label {
    font-weight: bold;
    color: #0b7cc1;
}
#protected_block input:disabled + label {
    font-weight: bold;
    color: gray;
}
#protected_block .wrongAnswer {
    font-weight: bold;
    color: #c10b21 !important;
}
#protected_block .correctAnswer {
    font-weight: bold;
    color: #0bc150 !important;
}

#oneTest {
    display: none;
}
#oneTestHeader {
    height: 50px;
}
#timeLeft {
    float: right;
    font-size: 32px;
}