.faculty-purple {
    background-color: #4c145e !important;
}
.faculty-blue {
    background-color: #00386b !important;
}
.faculty-green {
    background-color: #006847 !important;
}

.faculty-text-purple {
    color: #4c145e !important;
}
.faculty-text-blue {
    color: #00386b !important;
}
.faculty-text-green {
    color: #006847 !important;
}